In [58]:
import sqlite3

In [59]:
my_connection = sqlite3.connect('Covid')
c = my_connection.cursor()
query = """CREATE TABLE minis (fig_key TEXT PRIMARY KEY,
              'set' TEXT, num TEXT, name TEXT, age FLOAT, orig FLOAT,
              rarity TEXT, repaint INTEGER, size TEXT);"""
c.execute(query)

In [60]:
droptablestatement="drop table minis"
c.execute(droptablestatement)

In [61]:
c.close()

In [62]:
import pandas as pd
df = pd.read_csv('combined_csv.csv')

In [63]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [64]:
df.to_sql('users', con=engine)
engine.execute("SELECT * FROM users").fetchall()

[(0, '6/13/20', 'AK', 654, '405', 12, ' ', '12'),
 (1, '6/13/20', 'AL', 24601, '13508', 773, '2241', '622'),
 (2, '6/13/20', 'AR', 11547, '7607', 176, '979', '203'),
 (3, '6/13/20', 'AZ', 34458, '6209', 1183, '3692', '1412'),
 (4, '6/13/20', 'CA', 145643, ' ', 4989, ' ', '4411'),
 (5, '6/13/20', 'CO', 28822, '4184', 1595, '5234', '274'),
 (6, '6/13/20', 'CT', 44994, '7611', 4186, '9912', '233'),
 (7, '6/13/20', 'DC', 9709, '1143', 511, ' ', '197'),
 (8, '6/13/20', 'DE', 10229, '6116', 419, ' ', '93'),
 (9, '6/13/20', 'FL', 73552, ' ', 3016, '12155', ' '),
 (10, '6/13/20', 'GA', 56801, ' ', 2446, '9224', '810'),
 (11, '6/13/20', 'GU', 185, '168', 5, ' ', ' '),
 (12, '6/13/20', 'IA', 23717, '14326', 650, ' ', '200'),
 (13, '6/13/20', 'ID', 3353, '2776', 87, '265', ' '),
 (14, '6/13/20', 'IL', 132732, ' ', 6470, ' ', '2117'),
 (15, '6/13/20', 'IN', 39543, '28241', 2413, '6349', '871'),
 (16, '6/13/20', 'KS', 11047, '667', 243, '973', ' '),
 (17, '6/13/20', 'KY', 12445, '3409', 499, '2433', '410'),
 (18, '6/13/20', 'LA', 46283, '33904', 3004, ' ', '542'),
 (19, '6/13/20', 'MA', 105395, ' ', 7576, '10772', '1069'),
 (20, '6/13/20', 'MD', 61305, '4536', 2926, '10053', '799'),
 (21, '6/13/20', 'ME', 2757, '2152', 100, '313', '29'),
 (22, '6/13/20', 'MI', 65836, '44964', 6013, ' ', '636'),
 (23, '6/13/20', 'MN', 30172, '25620', 1314, '3581', '390'),
 (24, '6/13/20', 'MO', 15810, ' ', 879, ' ', '595'),
 (25, '6/13/20', 'MS', 19348, '13356', 889, '2644', '684'),
 (26, '6/13/20', 'NC', 42676, '23653', 1104, ' ', '823'),
 (27, '6/13/20', 'NH', 5251, '3843', 315, '503', '76'),
 (28, '6/13/20', 'NJ', 166605, '28606', 12589, '18707', '1395'),
 (29, '6/13/20', 'NV', 10946, '627', 463, ' ', '351'),
 (30, '6/13/20', 'NY', 382630, '68584', 24527, '89995', '1734'),
 (31, '6/13/20', 'OH', 40848, ' ', 2554, '6864', '516'),
 (32, '6/13/20', 'OK', 8073, '6495', 359, '1111', '154'),
 (33, '6/13/20', 'OR', 5377, '2396', 173, '875', '133'),
 (34, '6/13/20', 'PA', 78462, '58061', 6211, ' ', '875'),
 (35, '6/13/20', 'RI', 15947, '1435', 833, '1853', '141'),
 (36, '6/13/20', 'SC', 17955, '8682', 599, '1988', '523'),
 (37, '6/13/20', 'SD', 5833, '4828', 75, '531', '85'),
 (38, '6/13/20', 'TN', 29541, '19731', 472, '2073', ' '),
 (39, '6/13/20', 'TX', 86011, '56535', 1957, ' ', '2242'),
 (40, '6/13/20', 'UT', 13981, '8114', 139, '1012', '236'),
 (41, '6/13/20', 'VA', 53869, '7131', 1541, '8090', '959'),
 (42, '6/13/20', 'VT', 1125, '908', 55, ' ', '11'),
 (43, '6/13/20', 'WA', 25171, ' ', 1204, '3817', '225'),
 (44, '6/13/20', 'WI', 22518, '16231', 691, '3035', '285'),
 (45, '6/13/20', 'WV', 2259, '1568', 88, ' ', '29'),
 (46, '7/25/20', 'AL', 91444, '35401.0', 1627, '10521.0', None),
 (47, '7/25/20', 'AK', 3984, '932.0', 24, '134.0', None),
 (48, '7/25/20', 'AZ', 178467, None, 3765, '11371.0', None),
 (49, '7/25/20', 'AR', 43173, '36034.0', 458, '2894.0', None),
 (50, '7/25/20', 'CA', 509162, None, 9356, None, None),
 (51, '7/25/20', 'CO', 47267, None, 1844, '6465.0', None),
 (52, '7/25/20', 'CO', 49810, None, 4432, None, None),
 (53, '7/25/20', 'DE', 14949, '8235.0', 585, None, None),
 (54, '7/25/20', 'DC', 12274, '9870.0', 586, None, None),
 (55, '7/25/20', 'FL', 487132, None, 7206, '27150.0', None),
 (56, '7/25/20', 'GA', 193177, None, 3840, '19064.0', None),
 (57, '7/25/20', 'HI', 2242, '1294.0', 26, '199.0', None),
 (58, '7/25/20', 'ID', 21344, '7370.0', 197, '874.0', None),
 (59, '7/25/20', 'IL', 183224, None, 7714, None, None),
 (60, '7/25/20', 'IN', 67857, '47355.0', 2975, '8848.0', None),
 (61, '7/25/20', 'IA', 45492, '32952.0', 876, None, None),
 (62, '7/25/20', 'KS', 27812, None, 358, '1751.0', None),
 (63, '7/25/20', 'KY', 31185, '8135.0', 742, '3782.0', None),
 (64, '7/25/20', 'LA', 119747, '74246.0', 4007, None, None),
 (65, '7/25/20', 'ME', 3958, '3387.0', 123, '388.0', None),
 (66, '7/25/20', 'MD', 90274, None, 3515, '12746.0', None),
 (67, '7/25/20', 'MA', 118458, '97595.0', 8638, '11935.0', None),
 (68, '7/25/20', 'MI', 91761, '60022.0', 6457, None, None),
 (69, '7/25/20', 'MN', 55947, '48847.0', 1654, '5242.0', None),
 (70, '7/25/20', 'MS', 60553, '35071.0', 1693, '4304.0', None),
 (71, '7/25/20', 'MO', 51840, None, 1253, None, None),
 (72, '7/25/20', 'MT', 4193, '2466.0', 61, '233.0', None),
 (73, '7/25/20', 'NE', 26391, '19325.0', 332, '1629.0', None),
 (74, '7/25/20', 'NV', 50205, None, 832, None, None),
 (75, '7/25/20', 'NH', 6634, '5820.0', 417, '696.0', None),
 (76, '7/25/20', 'NJ', 182350, '32475.0', 15836, None, None),
 (77, '7/25/20', 'NM', 21016, '8343.0', 654, '2720.0', None),
 (78, '7/25/20', 'NY', 416298, '73222.0', 32710, None, None),
 (79, '7/25/20', 'NC', 125219, '92302.0', 1969, None, None),
 (80, '7/25/20', 'ND', 6660, '5477.0', 105, '377.0', None),
 (81, '7/25/20', 'OH', 93031, None, 3529, '10900.0', None),
 (82, '7/25/20', 'OK', 38225, '30820.0', 550, '3241.0', None),
 (83, '7/25/20', 'OR', 19097, '3872.0', 326, '1607.0', None),
 (84, '7/25/20', 'PA', 113590, None, 7209, None, None),
 (85, '7/25/20', 'RI', 19246, None, 1010, '2174.0', None),
 (86, '7/25/20', 'SC', 91788, None, 1777, None, None),
 (87, '7/25/20', 'SD', 8955, '7909.0', 135, '835.0', None),
 (88, '7/25/20', 'TN', 109627, '68471.0', 1073, '4756.0', None),
 (89, '7/25/20', 'TX', 430485, '282604.0', 6837, None, None),
 (90, '7/25/20', 'UT', 41175, '29389.0', 311, '2430.0', None),
 (91, '7/25/20', 'VT', 1426, '1238.0', 57, None, None),
 (92, '7/25/20', 'VA', 91782, None, 2218, '13280.0', None),
 (93, '7/25/20', 'WA', 58173, None, 1596, '5692.0', None),
 (94, '7/25/20', 'WV', 6854, '4897.0', 117, None, None),
 (95, '7/25/20', 'WI', 58990, '43964.0', 955, '4717.0', None),
 (96, '7/25/20', 'WY', 2808, '2173.0', 26, '168.0', None),
 (97, '8/3/20', 'AK', 4064, '946', 25, ' ', '38'),
 (98, '8/3/20', 'AL', 92661, '35401', 1633, '10865', '1517'),
 (99, '8/3/20', 'AR', 44597, '37240', 475, '2966', '513'),
 (100, '8/3/20', 'AZ', 179497, '23702', 3779, '11400', '2017'),
 (101, '8/3/20', 'CA', 514901, ' ', 9388, ' ', '7629'),
 (102, '8/3/20', 'CO', 47716, '5393', 1691, '6474', '308'),
 (103, '8/3/20', 'CT', 50062, '8613', 4437, '10807', '56'),
 (104, '8/3/20', 'DC', 12313, '9893', 586, ' ', '104'),
 (105, '8/3/20', 'DE', 15055, '8267', 585, ' ', '40'),
 (106, '8/3/20', 'FL', 491884, ' ', 7279, '27744', '7938'),
 (107, '8/3/20', 'GA', 195435, ' ', 3842, '19124', '3111'),
 (108, '8/3/20', 'IA', 45841, '33219', 882, ' ', '241'),
 (109, '8/3/20', 'ID', 21344, '7370', 197, '874', '239'),
 (110, '8/3/20', 'IL', 184522, ' ', 7723, ' ', '1418'),
 (111, '8/3/20', 'IN', 68433, '47355', 2980, '9004', '904'),
 (112, '8/3/20', 'KS', 28876, '1196', 365, '1782', '232'),
 (113, '8/3/20', 'KY', 31508, '8335', 744, '3815', '612'),
 (114, '8/3/20', 'LA', 120846, '74246', 4024, ' ', '1496'),
 (115, '8/3/20', 'MA', 118657, '97595', 8648, '11942', '375'),
 (116, '8/3/20', 'MD', 91144, '5740', 3523, '12832', '548'),
 (117, '8/3/20', 'ME', 3970, '3396', 124, '389', '12'),
 (118, '8/3/20', 'MI', 92374, '60022', 6463, ' ', '694'),
 (119, '8/3/20', 'MN', 56560, '49565', 1656, '5298', '302'),
 (120, '8/3/20', 'MO', 52887, ' ', 1255, ' ', '889'),
 (121, '8/3/20', 'MS', 61125, '42391', 1711, '4380', '1172'),
 (122, '8/3/20', 'NC', 126532, '105093', 1982, ' ', '1057'),
 (123, '8/3/20', 'NE', 26702, '19575', 332, '1630', '144'),
 (124, '8/3/20', 'NH', 6634, '5820', 417, '696', '24'),
 (125, '8/3/20', 'NJ', 182614, '32660', 15846, '21565', '738'),
 (126, '8/3/20', 'NM', 21016, '8343', 654, '2720', '127'),
 (127, '8/3/20', 'NV', 51199, '1158', 847, ' ', '1152'),
 (128, '8/3/20', 'NY', 416843, '73279', 25172, '89995', '536'),
 (129, '8/3/20', 'OH', 93963, '69501', 3539, '10992', '1001'),
 (130, '8/3/20', 'OK', 38602, '31165', 551, '3275', '628'),
 (131, '8/3/20', 'OR', 19366, '3960', 328, '1655', '215'),
 (132, '8/3/20', 'PA', 114155, '86757', 7209, ' ', '585'),
 (133, '8/3/20', 'RI', 19246, '1838', 1010, '2231', '80'),
 (134, '8/3/20', 'SC', 92951, '32859', 1793, '5527', '1401'),
 (135, '8/3/20', 'SD', 9020, '7939', 135, '838', '39'),
 (136, '8/3/20', 'TN', 110636, '70878', 1092, '4808', '1323'),
 (137, '8/3/20', 'TX', 442014, '297422', 7016, ' ', '8819'),
 (138, '8/3/20', 'UT', 41529, '29967', 314, '2450', '252'),
 (139, '8/3/20', 'VA', 93106, '12255', 2218, '13460', '1205'),
 (140, '8/3/20', 'VT', 1427, '1240', 57, ' ', '14'),
 (141, '8/3/20', 'WA', 58173, ' ', 1596, '5692', '401'),
 (142, '8/3/20', 'WI', 59401, '44495', 956, '4732', '294'),
 (143, '8/3/20', 'WV', 6973, '4918', 117, ' ', '116'),
 (144, '8/3/20', 'WY', 2848, '2214', 27, '167', '19')]